@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, I'm Kimberly Black!</h1>

<p>From HTML and CSS, to JavaScript and C#, I know just about everything you need to build a website. I build picture perfecrt, user-centered software that follows current best practices. I'm never afraid to tackle a new challenge. As a rapid learner, I pride myself in my adtability and constant pursuit of mastering new technologies to constatly stay up to date with the industries hottest trends.</p>